.imagebrand{
    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.imagebrandbet{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imageb{
    margin: 10vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    width: 600px;
}

.imagecenter{
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .imagebrand{
        margin-top: -18vh;
        display: flex;
        scale: 0.8;
    }
    .imagebrandbet{
        flex-direction: column;
    }
    .imagebrandbet{
        padding-top: 0;
        scale: 0.7;
    }
    .imagecenter{
        margin-top: -20vh;
    }

}